apps/miso/relay-types/*.ts linguist-generated=true
next-env.d.ts linguist-generated=true
*.lock linguist-generated=true
generated linguist-generated=true
generated/* linguist-generated=true
schema.* linguist-generated=true
