# Initial organization and user details
INITIAL_ORGANIZATION_UUID=""
INITIAL_ORGANIZATION_NAME=""
INITIAL_ORGANIZATION_DOMAIN=""
INITIAL_USER_EMAIL=""
INITIAL_USER_PASSWORD=""

# Base URL of the Udon API
BASE_SERVER_URL="http://localhost:8080"

# Base URL of the Miso admin dashboard
BASE_CLIENT_URL="http://localhost:8080"

# Current Node environment (usually "development" for local development, "test" for unit tests, and "production" otherwise)
NODE_ENV=development

# A unique secret string used to sign JWT tokens for Miso/Shoyu/Pontis authentication tokens
JWT_SECRET=""

# The port to run Udon on (defaults to 8081)
PORT=8081

# AWS IAM credentials, primarily used for file uploads
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION="us-east-1"

# Courier API key used for sending emails and Slack notifications
COURIER_API_KEY=

# Google OAuth application credentials for Google SSO
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# SendGrid API key used for sending emails
SENDGRID_API_KEY=

# OpenAI key used by Bento AI functionality
OPENAI_API_KEY=

# ScraperAPI API key, used by Bento AI functionality (https://www.scraperapi.com)
SCRAPERAPI_KEY=

# A unique secret token used to authenticate internal API endpoints
INTERNAL_API_AUTH_TOKEN=

########
# NOTE: the variables below are automatically configured via Terraform when using the provided AWS infrastructure.
# You should therefore only configure these manually for your local development environment.
########

# Version-less URL of the Shoyu SDK
EMBED_VERSION_LESS_URL="http://localhost:8082/index"

# Postgres database URL
DATABASE_URL="postgres://postgres:password@localhost:5432/bentodb"

# Redis URL for the worker (BullMQ) cache
WORKER_REDIS_URL="redis://localhost:6380"

# Redis URL for the general cache
REDIS_URL="rediss://localhost:6379"

# AWS S3 bucket name for file uploads
AWS_S3_UPLOAD_BUCKET=

# Hide database logs
HIDE_LOGS="true"

# Hide Redis logs
HIDE_REDIS_CONN_LOG="true"
